<div fxLayout="column">
    <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 25%;" class="mat-elevation-z8">
      <mat-card-title style="text-align: center; font-size: 48px" class="mat-headline"></mat-card-title><br />
      <mat-card-subtitle style="text-align: center;" class="mat-headline">Something went terribly wrong...</mat-card-subtitle>
      <mat-card-content style="text-align: center;">
        <img src="./assets/404-beach.png" width="80%" height ="80%"/>
        <button mat-raised-button color="primary" routerLink="/">Return to Dashboard</button>
      </mat-card-content>
    </mat-card>
  </div>