<div fxLayout="column" class="main-welcome" fxLayoutGap="10px">
    <h1 fxFlex class="title">
      nodebucket 101 <br/>
      <span class="subtitle">
        Pay close attention to the requirements. Double and triple check the files for code attribution. 
        Please do not wait until the last minute to begin working on each item.
      </span>
    </h1>
    <div class="about-content">
      <mat-divider></mat-divider>
      <br />
      <p class="mat-body-4">
        <span class="p-title mat-headline">Overview</span><br />
        Nodebucket is task management software designed to simplify the way you create, track, edit, and delete time sensitive material.
        The nodebucket app, is considered a full-stack MEAN (MongoDB, Express, Angular, and Node.js) application, utilizing the concepts 
        that were covered in previous courses within the CoHort class bundle format.
        MongoDB is used for data persistence.
        Node.js is be used for manipulating and returning saved records. SoapUI is used for unit testing. Angular is for user interactions (UI/menu etc. . .)
      </p>
      <br />
      <p class="mat-body-4">
        <span class="p-title mat-headline">Schedule</span><br />
        The development of this application encompasses 3 Sprints and 5 days each sprint.
        The first 3 days will be for requirements gathering, project planning, and designing.
        The last 2 days will be for deployment and group presentations
      </p>
    </div>
  </div>