<div fxLayout="column" class="main-welcome">
    <h1 class="title">
      Welcome to WEB 450's - nodebucket Project <br />
      <span class="subtitle">
        Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait unitl the last minute to begin working on each item.
      </span>
    </h1>
  <div fxLayout="row" fxLayoutGap="15px" class="tasks-container">

    <div fxFlex>
      <mat-card class="mat-elevation-z0">
        <mat-card-title class="task-title">
          ToDo
          <div fxFlex></div>
          <button [matMenuTriggerFor]="taskMenu" mat-button x-position="before">
            <mat-icon style="color: #616771">more_horiz</mat-icon>
          </button>
          <mat-menu #taskMenu="matMenu" x-position="before">
            <button mat-menu-item (click)="openCreateTaskDialog()">Create task</button>
          </mat-menu>
        </mat-card-title>

        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="10px"
               cdkDropList
               #todoList="cdkDropList"
               [cdkDropListData]="todo"
               [cdkDropListConnectedTo]="[doneList]"
               class="task-list"
               (cdkDropListDropped)="drop($event)">

            <div *ngFor="let item of todo" cdkDrag>
              <mat-card class="mat-elevation-z0 task-card" fxFlex>
                <mat-card-subtitle style="height: 10% !important;" class="task-functions">
                  <div fxFlex></div>
                  <button [matMenuTriggerFor]="todoOptionsMenu" mat-icon-button class="ml-xs">
                    <mat-icon style="color: #616771">more_horiz</mat-icon>
                  </button>
                  <mat-menu #todoOptionsMenu="matMenu" x-position="before">
                    <button (click)="deleteTask(item._id)" mat-menu-item>
                      Remove
                    </button>
                  </mat-menu>
                </mat-card-subtitle>
                <mat-card-content>
                  {{item.text}}
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card class="mat-elevation-z0">
        <mat-card-title class="task-title">
          Done
        </mat-card-title>

        <mat-card-content style="padding-top: 7px;">
          <div fxLayout="column" fxLayoutGap="10px"
               cdkDropList
               #doneList="cdkDropList"
               [cdkDropListData]="done"
               [cdkDropListConnectedTo]="[todoList]"
               class="task-list"
               (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of done" cdkDrag>
              <mat-card class="mat-elevation-z0 task-card" fxFlex>
                <mat-card-subtitle style="height: 10% !important;" class="task-functions">
                  <div fxFlex></div>
                  <button [matMenuTriggerFor]="doneOptionsMenu" mat-icon-button class="ml-xs">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #doneOptionsMenu="matMenu" x-position="before">
                    <button (click)="deleteTask(item._id)" mat-menu-item>
                      Remove
                    </button>
                  </mat-menu>
                </mat-card-subtitle>
                <mat-card-content>
                  {{item.text}}
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>